body {
    background-color: white;
}

h1 {
    color: coral;
    text-align: center;
    font-weight: bold;
}

div {
    text-align: center;
}

textarea {
    vertical-align:top;
}

#output {
    text-align: start;
}
#outputStr {
    text-align: start;
    background-color: rgba(0,200,255,0.4);
}
#number {
    width: 3em;
}
#user{
    width: 3em;
}
#name{
    width: 6em;
}
